<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  Options -MultiViews
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

# Fallback for servers where mod_rewrite is disabled
ErrorDocument 404 /index.html
